.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerLinks {
  position: fixed;
  bottom: 20px;
}

